* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

body {
  background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
  min-height: 100vh;
  padding-left: 150px;
  padding-right: 150px;
  font-family: sans-serif;
}

.card {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

h1 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
